.footer {
background-image: url("/img/footer/mob.png");
background-repeat: no-repeat;
background-position: top center;
background-size: cover;
}
.footer-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.footer-navigation{
 display: flex;
 justify-content: center;
 gap: 16px;
font-family: "Manrope", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #aab2c0;
}
.footer-text{
  font-family: "Manrope", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    color: #aab2c0;
}
@media only screen and (min-width: 1440px) {
.footer{
background-image: url("/img/footer/desk.png");
}
.footer-container{
  padding-top: 64px;
  padding-bottom: 64px;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.footer-text{
  font-size: 16px;
}
.footer-navigation{
font-size: 16px;
}
}
