.home-section{
    background-image: url("/img/home/mob.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% 462px;
    height: 813px;
}
.home-title{
    margin-top: 20px;
    font-family: "Racing Sans One", sans-serif;
font-weight: 400;
font-size: 59px;
line-height: 1.5;
letter-spacing: 0.04em;
text-transform: uppercase;
text-align: center;
color: #0d0f14;
-webkit-text-stroke: 1px #fff;
}
.home-text{
    margin-top: 32px;
font-weight: 500;
font-size: 18px;
line-height: 1.5;
color: #fafafa;
}
@media only screen and (min-width: 1440px) {
 .home-section{
background-image: url("/img/home/desk.png");
background-size: cover;
height: 900px;
 }
 .home-wrapper{
    width: 1110px;
        height: 156px;
        margin-left: auto;
        margin-right: auto;
background-image: url("/img/home/blur.png");
background-repeat: no-repeat;
background-position: top right;
background-size: 1000px 150px;
 }
 .home-title{
    margin-top: 30px;
    font-size: 80px;
 }
 .home-text{
    font-size: 24px;
    text-align: right;
    margin-top: 0;
 }
}
/* About the Game */
.title-container{
padding-top: 10px;
padding-bottom: 10px;
background-image: url("/img/title/mob.png");
background-repeat: no-repeat;
background-position: bottom center;
background-size: contain;
margin-bottom: 48px;
}
.about-text{
    width: 323px;
    margin-left: auto;
    margin-right: auto;
}
.span{
    color: #ff3d81;
    font-weight: 700;
}
@media only screen and (min-width: 1440px) {
 .title-container{
    background-image: url("/img/title/desk.png");
    margin-bottom: 56px;
 }
 .about-text{
    width: 1069px;
    
 }
}
/* Core Mechanics */
.core-swiper .swiper-slide{
    border-radius: 8px;
        padding: 24px 16px;
        width: 263px;
        height: 260px;
        background: #1f2430;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

}
.core-swiper .swiper-slide p{
    font-size: 14px;
    line-height: 1.5;   
    width: 161px; 
}
.core-text{
    margin-top: 40px;
    line-height: 1.5;
}
@media only screen and (min-width: 1440px) {
    .core-swiper{
        position: relative;
    }
  .core-swiper .swiper-wrapper{
    width: 1093px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: space-between;
  }
.core-swiper .swiper-slide{
    border-radius: 12px;
        padding: 32px 24px;
        width: 343px;
        height: 290px;
}
.core-text-wrapper{
position: absolute;
padding: 91px 38px;
    width: 343px;
    height: 290px;
    bottom: 8%;
    left: 36%;
    
}
}